{{#paper-toolbar}}
	<div class="md-toolbar-tools">
		{{#paper-button action=(action 'transition' 'stock')}}Stock{{/paper-button}}
		{{#paper-button action=(action 'transition' 'good')}}Goods{{/paper-button}}
		{{#paper-button action=(action 'transition' 'itemtype')}}Products{{/paper-button}}
		{{#paper-button action=(action 'transition' 'goodwriteoff')}}Write-Offs{{/paper-button}}
		{{#paper-button action=(action 'transition' 'totals')}}Totals{{/paper-button}}
	</div>
{{/paper-toolbar}}
