{{#paper-select placeholder="good" model=currentGood}}
	{{#each goods as |good|}}
		{{#paper-option value=good}}
			{{good.name}}
		{{/paper-option}}
	{{/each}}
{{/paper-select}}
	{{#if goodgroups.isFulfilled }}
	{{#each goodgroups.content as |selectedGood|}}
	<div layout="row" layout-align="space-between center">
		{{itemtype/itemtype-list-item-option selectedGood=selectedGood update=(action "update") find=(action "find")}}
	</div>
	{{/each}}
	{{/if}}

	