<div layout="row">
	<div flex="100">
		<div layout="column">
		{{#paper-card}}
			{{#paper-card-content}}
				{{#paper-button raised=true accent=true action="new" icon-button=true}}{{paper-icon icon="add"}}{{/paper-button}}
			{{/paper-card-content}}
		{{/paper-card}}

		{{#each pagedContent as |item|}}
			{{#paper-card}}
				{{#paper-card-content}}
					<h2>{{item.name}}</h2>
					{{itemtype/itemtype-list-item model=item save=(action 'save') delete=(action 'delete') goods=allGoods allItemsCount=(get-items-count allItems item) allGroups=allGroups refreshAllGroups=(action 'refreshGroups')}}
				{{/paper-card-content}}
			{{/paper-card}}
		{{/each}}

		{{#paper-card}}
			{{#paper-card-content}}
				{{page-numbers content=pagedContent}}
			{{/paper-card-content}}
		{{/paper-card}}
		</div>
	</div>
</div>