<div layout="row" layout-align="space-between center">
	<div flex="10">
		{{paper-input label="cost" value=model.cost}}
	</div>
	<div layout="column" flex="60">
		{{itemtype/itemtype-list-item-good goodgroups=(mut (get model 'goods')) goods=goods allGroups=allGroups refreshAllGroups=(action 'refreshGroups')}}
	</div>
	<div layout="column" flex="10">
		<div>
			<p class="md-caption">count</p>
		</div>
		<div>
			{{allItemsCount}}
		</div>
		<div>
			<p class="md-caption">total cost</p>
		</div>
		<div>
			{{totalCost}}
		</div>
	</div>
	<div layout="column" flex="10">
		{{#paper-button raised=true accent=true action="save"}}Save{{/paper-button}}
		{{#paper-button action="delete"}}Delete{{/paper-button}}
	</div>
</div>
