{{selectedGood.good.name}}
{{paper-input label="quantity" value=selectedGoodQuantity flex="25"}}
{{#paper-button raised=true accent=true action=(action "saveSelected" selectedGood)}}Save{{/paper-button}}
{{#paper-button raised=true warn=true action=(action "deleteSelected" selectedGood)}}Delete{{/paper-button}}