{{#paper-card}}
	{{#paper-card-content}}
		<div layout="column">
			{{time-series-chart barData=barData selectedInterval="M"}}
		</div>
		<div layout="column">
			{{time-series-chart lineData=lineData selectedInterval="M"}}
		</div>
	{{/paper-card-content}}
{{/paper-card}}