<h2 {{action 'select' model.number}} style="cursor:pointer;">{{model.number}} {{#if postfix}}- {{postfix}}{{/if}}</h2>
<div layout="column">
	<p>Order Amount: {{model.total_orders_amount}}</p>
	<p>Revenue: {{model.revenue}}</p>
	<p>To revenue percentage: {{completionMoneyPercentage}}</p>
	<p>COGS: {{model.cost}}</p>
	<p>Write-off Revenue: {{model.writeoff_revenue}}</p>
	<p>Write-off COGS: {{model.writeoff_cogs}}</p>
	<p>Total Profit: {{model.profit}}</p>
	<p>Total orders: {{model.total_orders_count}}</p>
	<p>Completed orders count: {{model.completed_orders_count}}</p>
	<p>Completion percentage: {{completionPercentage}}</p>
	<p>Order Gross Margin, %: {{grossMargin}}</p>
	<p>Full Gross Margin, %: {{grossMarginFull}}</p>
</div>
