<div layout="row" flex="50">
	<div layout="column">
	{{#each model.years as |year|}}
		{{#paper-card}}
			{{#paper-card-content}}
				{{totals/totals-minimum-details model=year select=(action 'selectYear')}}
			{{/paper-card-content}}
		{{/paper-card}}
	{{/each}}
	</div>
	{{#if isSelected}}
		{{#with selectedYear as |yearS|}}
			<div layout="column">
				{{#each yearS.months as |month|}}
					{{#paper-card}}
						{{#paper-card-content}}
							{{totals/totals-minimum-details model=month postfix=yearS.number select=(action 'selectMonth')}}
						{{/paper-card-content}}
					{{/paper-card}}
				{{/each}}
			</div>
			<div layout="column" flex>
				{{totals/totals-graph model=yearS.months year=yearS}}
			</div>
		{{/with}}
	{{/if}}
</div>