<div layout="row">
	<div flex="100">
	{{#each model as |item|}}
		{{#paper-card}}
			{{#paper-card-content}}
				<h2>{{item.good.name}}</h2>
				{{stock/stock-list-item model=item save=(action 'save') delete=(action 'delete')}}
			{{/paper-card-content}}
		{{/paper-card}}
	{{/each}}
	{{#paper-card}}
		{{#paper-card-content}}
			{{#paper-button raised=true accent=true action="new" icon-button=true}}{{paper-icon icon="add"}}{{/paper-button}}
		{{/paper-card-content}}
	{{/paper-card}}
	</div>
</div>
