<div layout="row" layout-align="space-between center">
	<div class="flex" layout="row" layout-align="center center">
		{{#paper-select placeholder="good" model=model.good itemLabelCallback=resolveGoodLabel}}
			{{#each goods as |good|}}
				{{#paper-option value=good}}
					{{good.name}}
				{{/paper-option}}
			{{/each}}
		{{/paper-select}}
	</div>
	<div class="flex">
		{{paper-input label="quantity" value=model.quantity}}
	</div>
	<div class="flex">
		{{paper-input label="total cost" value=model.cost}}
	</div>
	<div class="flex">
		{{paper-input label="unit cost" value=unitCost}}
	</div>
	<div class="flex">
		{{paper-input label="date added" value=model.date_added type="date" required=true}}
	</div>
	<div class="flex">
		{{#paper-button action="save"}}Save{{/paper-button}}
	</div>
	<div class="flex">
		{{#paper-button action="delete"}}Delete{{/paper-button}}
	</div>
</div>
