{{#unless isChart}}
	<div layout="row">
		<div flex="100">
			{{#paper-card}}
				{{#paper-card-content}}
					<div layout="row">
						<div layout="row" layout-align="end center" flex="50">
							{{#paper-button action="recalculate" raised=true primary=true}}{{paper-icon icon="assignment-returned"}}{{/paper-button}}
						</div>
						<div layout="row" layout-align="center center" flex="20">
							{{#paper-button action="showSelected" accent=true raised=true}}Show{{/paper-button}}
						</div>
						<div layout="row" flex="30">
						</div>
					</div>
					{{#each goods as |good|}}
						{{good/list-item good=good items=items showToggle=(action "showToggle")}}
					{{/each}}
					{{#paper-button raised=true accent=true action="new" icon-button=true}}{{paper-icon icon="add"}}{{/paper-button}}
				{{/paper-card-content}}
			{{/paper-card}}
		</div>
	</div>
{{else}}
	<div layout="row">
		<div flex="100">
			{{#paper-card}}
				{{#paper-card-content}}
					<div layout="row">
						<div layout="row" layout-align="start center" flex="20">
							{{#paper-button action="showSelected" accent=true raised=true}}Hide{{/paper-button}}
						</div>
					</div>
					<div layout="row">
						{{good/good-usage-chart goods=showGoods}}
					</div>
				{{/paper-card-content}}
			{{/paper-card}}
		</div>
	</div>
{{/unless}}