<div layout="row" layout-align="space-between center">
	<div layout="row" flex="50" >
	{{paper-input value=good.name flex="70"}}
	</div>
	<div layout="row" layout-align="center center" flex="30">
		<div flex>
		{{good.total}}
		</div>
		<div flex>
		{{good.sold}}
		</div>
		<div flex>
		{{good.left}}
		</div>
		{{paper-checkbox checked=itemChecked}}
	</div>
	<div layout="row" flex="20">
		{{#paper-button raised=true accent=true action="save"}}Save{{/paper-button}}
		{{#paper-button action="delete"}}Delete{{/paper-button}}
	</div>
</div>
